body
{
  margin: 10mm 10mm 10mm 10mm;
}

#chat-list
{
  background-color: #f2f2f2;
}

#chat-list p
{
  font-weight: 800
  color: black;
}

#name, #message
{
  margin-bottom: 2mm;
}

#chat
{
  position: relative;
  background-color: #e6f3ff;
  margin: 5mm 5mm 5mm 5mm;
  line-height: 120%;
  font-size:small;
  overflow-y:auto;
}
#mess-col
{
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
}

#content
{
  margin-bottom: 40mm;
}

.msg
{
  margin-bottom: 1px;
}

.other_sender
{
  text-align: right;
  color: green;
}
